@import url("./header-forpc.css")     (min-width: 781px) and (any-hover: hover);
@import url("./header-formobile.css") (max-width: 780px)  ,  (any-hover: none);


body {
  background: var(--bg);
}

header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 222200;
}
header li[home]>a>img {
  filter: invert(100%);
  transition: all var(--header-transition);
}

header nav li[home]>a:hover>img {
  filter: invert(0%);
}

header nav a {
  color: var(--header-color);
  display: block;
  text-decoration: none;
  margin: 0;
  transition: 
    all var(--header-transition);
}

header nav a:hover {
  background: var(--header-color);
  color: var(--font-color);
}

header nav>ul {
  background: var(--header-bg);
  box-sizing: content-box;
}

header nav a {
  padding-inline: 0.5em;
}

header nav>ul>li:active>a {
  color: var(--header-color);
  background: var(--font-color);
}

#\^hamburger-io {
  display: none;
}